body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
}
body .cards {
  overflow-y: auto;
}
body .cards::-webkit-scrollbar {
  display: none;
}
body .cards.top {
  margin-top: 10px;
  border-radius: 3px;
}
body .cards.top .card .inner {
  margin-bottom: 10px;
}
body .cards.bottom {
  position: absolute;
  width: 100%;
  bottom: 10px;
  max-height: 50%;
}
body .cards.bottom .card .inner {
  margin-top: 10px;
}
body .cards .card {
  overflow: hidden;
  margin: 0 10px;
}
body .cards .card .inner {
  min-height: 60px;
  background-color: #eee;
  border-radius: 3px;
}
