@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon() {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    // Font
    color: #333;
    font-size: 16px;

    // Global Styles
    .btn {
        cursor: pointer;

        &:hover {
            color: #666;
        }

        &.disabled, &.disabled:hover {
            color: #888;
            cursor: default;
        }
    }

    // Localised Styles
    .card-templates {
        display: none;
    }

    .cards {

        &.top {
            margin-top: 10px;
            border-radius: 3px;
            position: relative;

            .contents {
                height: 100%;
            }

            .card .inner {
                margin-bottom: 10px;
            }
            .card:last-child .inner {
                margin-bottom: 0;
            }
        }

        &.bottom {
            position: absolute;
            width: 100%;
            bottom: 10px;

            .card .inner {
                margin-top: 10px;
            }
            .card:first-child .inner {
                margin-top: 0;
            }
        }

        .overflow-indicator {
            position: absolute;
            left: 10px;
            right: 10px;
            height: 20px;
            background-color: #d25252;
            text-align: center;
            z-index: 100;

            &.top {
                top: -3px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom: 2px solid #333;

                .arrow:before {
                    content: "\e113 \e113 \e113 \e113 \e113";
                }
            }

            &.bottom {
                bottom: -3px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                border-top: 2px solid #333;

                .arrow:before {
                    content: "\e114 \e114 \e114 \e114 \e114";
                }
            }

            .arrow {
                .glyphicon;

                color: #fff;
                position: relative;
                top: 1px;
                display: inline-block;
                font-size:12px;
            }
        }

        .contents {
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            .card {
                overflow: hidden;
                margin: 0 10px;

                .inner {
                    min-height: 60px;
                    background-color: #eee;
                    border-radius: 3px;
                }

                // Media Cards
                &[card_type=media] {

                    .top {
                        padding: 5px 5px 0;
                        overflow: hidden;
                        position: relative;
                        min-height: 62px;

                        .art {
                            float: left;
                            width: 62px;
                            height: 62px;

                            img {
                                max-width: 62px;
                                max-height: 62px;
                                image-rendering: optimizeQuality;
                            }
                        }

                        .btn {
                            position: absolute;
                            width: 40px;
                            right: 5px;
                            top: 0;
                            height: 100%;
                            overflow: hidden;

                            .control {
                                position: absolute;
                                width: 100%;
                                top: 50%;
                                height: 0;

                                div {
                                    .glyphicon;
                                    position: absolute;
                                    top: -15px;
                                    font-size: 30px;
                                    text-align: center;

                                    &.play:before {
                                        content: "\e072";
                                    }

                                    &.pause:before {
                                        content: "\e073";
                                    }
                                }
                            }
                        }

                        .info {
                            margin: 0 55px 0 67px;

                            .title {
                                font-weight: 700;
                            }

                            .artist {
                                color: #666;
                                font-size: 13px;
                            }

                            .album {
                                color: #666;
                                font-size: 11px;
                            }
                        }

                    }

                    .bottom {
                        margin: 5px;
                        height: 24px;
                        border-top: 1px solid #ccc;

                        .device {
                            float: left;
                            font-size: 10px;
                            color: #666;
                            line-height: 24px;
                        }

                        .btn {
                            .glyphicon;
                            float: right;
                            margin: 5px 8px 0 3px;
                            font-size: 12px;
                        }

                        .next:before {
                            content: "\e076";
                        }

                        .prev:before {
                            content: "\e070";
                        }

                        .stop:before {
                            content: "\e074";
                        }
                    }
                }

            }
        }
    }



}