body {
    margin: 0;
    padding: 0;

    // Font
    color: #333;
    font-size: 16px;

    .cards {
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &.top {
            margin-top: 10px;
            border-radius: 3px;

            .card .inner {
                margin-bottom: 10px;
            }
        }

        &.bottom {
            position: absolute;
            width: 100%;
            bottom: 10px;
            max-height: 50%;

            .card .inner {
                margin-top: 10px;
            }
        }

        .card {
            overflow: hidden;
            margin: 0 10px;

            .inner {
                min-height: 60px;
                background-color: #eee;
                border-radius: 3px;
            }

            // Media Cards
            &.media {
                
            }

        }
    }



}